@model MVCReports.Models.AssignedProjectModel

@using (Html.BeginForm())
{
    <table class="table table-user-role">
        <tr>
            @foreach (var k in Model.AssignedProject.Keys)
            {
                <th>
                    @Html.DisplayName(k)
            </th>
            }
        </tr>
        <tr>
            @foreach (var pair in Model.AssignedProject)
            {
                <td>
                    <ul class="list-unstyled" id="customers-list">
                        @for (int i = 0; i < pair.Value.Count; i++)
                        {
                            <li>
                                @Html.CheckBoxFor(m => m.AssignedProject[pair.Key][i].Checked, new { data_check = Model.AssignedProject[pair.Key][i].Name, id = "customer-check" })
                                @Html.Label(Model.AssignedProject[pair.Key][i].Name,new { id = "customer-name" })
                                @Html.HiddenFor(m => m.AssignedProject[pair.Key][i].Name)
                            </li>
                        }
                    </ul>
                </td>
            }
        </tr>

    </table>

    <input value="Save" type="submit" class="btn btn-default submit mt20 mb20"/>
}

<p>

    @Html.ActionLink("Back to List", "Index")
</p>