@model MVCReports.Models.UserWithRole

@using (Html.BeginForm())
{
    <div class="user-role">
        <div>
            <h2 class="mb50 mt50 center">Select role for user</h2>
            <div>
                <span><p>@Html.DisplayNameFor(model => model.UserName)</p><p>@Html.DisplayFor(model => model.UserName)</p></span>

                <span><p>@Html.DisplayNameFor(model => model.Email)</p><p>@Html.DisplayFor(model => model.Email)</p></span>

                @*<span><p>@Html.DisplayNameFor(model => model.PhoneNumber)</p><p>@Html.DisplayFor(model => model.PhoneNumber)</p></span>*@

                <span><p>@Html.DisplayNameFor(model => model.Role)</p><p>@Html.DropDownList("Roles", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")</p></span>

            </div>
        </div>

        <div class="form-group">
            <div>
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
     
        <p>

            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
}
