@model MVCReports.Models.AccuracyViewModel

<body>
        @using (Html.BeginForm())
        {

            <div class="sidebar-reports">
                <p>
                    Start Date: @Html.TextBoxFor(m => m.StartDate, new { id = "datepickerStart" })
                    @Html.HiddenFor(m => m.StartDate)
                </p>
                <p>
                    End Date: @Html.TextBoxFor(m => m.EndDate, new { id = "datepickerEnd" })
                    @Html.HiddenFor(m => m.EndDate)
                </p>
                <ul class="list-unstyled">
                    @for (int i = 0; i < Model.Customers.Count; i++)

                {
                        @*<li><a href="#" id="a-client-list-item">@name</a></li>*@
                        <li>
                            @Html.CheckBoxFor(m => m.Customers[i].Checked, new { data_check = Model.Customers[i].Name })
                            @Html.HiddenFor(m => m.Customers[i].Name)
                            @Model.Customers[i].Name
                        </li>
                    }
                </ul>
            </div>
            <input  value="Generate Report" type="submit" class="btn btn-default submit mt20"/>
    }
</body>
