@using ReportViewerForMvc
@using Microsoft.Reporting.WebForms;
@model MVCReports.Models.AccuracyViewModel


@{
    ViewBag.Title = "Home Page";
    var type = (string) ViewBag.Type;
}

<div class="row mt20 reports">

    <div class="col-md-3" id="customers-partial-left">
        @switch (type)
        {
            case "Email":
                @Html.Partial("_EmailRangeDateLayout", Model)
                break;
            case "Pie":
                @Html.Partial("_ListRangeDateLayout", Model)
                break;
            case "Accuracy":
                @Html.Partial("_EmailLayout", Model)
                break;
            case "Stacked":
                @Html.Partial("_ListRangeDateLayout", Model)
                break;
            default:
                break;
        }
               
            </div>
            <div class="col-md-9" id="report-center">
        @*@Html.ReportViewer(ViewBag.reportView as Microsoft.Reporting.WebForms.ReportViewer, new  { height="200" })*@
        @Html.Partial("_ReportLayout")
    </div>
</div>
